# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  name: Default

parameters:
  - name: wizDebug
    type: boolean
    default: false
  - name: wizPolicyHitsOnly
    type: boolean
    default: true
  - name: wizScanPolicies
    type: string
    default: "thuan-test-wizcli-high"
  - name: wizSucceedOnFailures
    type: boolean
    default: false
    
steps:


- task: wiz@0
  displayName: Scan directory
  inputs:
    command: dir
    clientid: $(WIZ_CLIENT_ID)
    secret: $(WIZ_CLIENT_SECRET)
    succeedOnFailures: false
    scanPolicies: ${{ parameters.wizScanPolicies }}
    scanTags: directory
    wizCliPath: '/opt/homebrew/bin'
    path: '/Users/thuan.dang/case-work/test-secret'
    debug: true
    output: '/Users/thuan.dang/case-work/wizclisecret.json,json'





# - task: wiz@0
#   inputs:
#     command: 'image'
#     clientid: $(WIZ_CLIENT_ID)
#     secret: $(WIZ_CLIENT_SECRET)
#     image: 'samplesecret:v4'
#     succeedOnFailures: false
#     debug: true
#     output: '/Users/thuan.dang/case-work/wizcli,json'
#     sensitiveData: true
#     scanSecrets: true
#     scanPolicies: '${{ parameters.wizScanPolicies }}'
#     scanTags: 'cicd=ado'
#     authRetries: '2'
#     wizCliPath: '/opt/homebrew/bin'
    
    # driver: "mountWithLayers"
    # sudo: true


# - script: |
#     displayName: 'Run wizcli scan'

#     echo "Pulling wizcli"
#     sudo docker pull public-registry.wiz.io/wiz-app/wizcli:0
#     sudo docker tag public-registry.wiz.io/wiz-app/wizcli:0 wizcli:latest
#     sudo docker run -v ~/.wiz:/cli wizcli:latest version

#     echo "Auth"
#     sudo docker run -v ~/.wiz:/cli wizcli:latest --no-style auth --id "$(WIZ_CLIENT_ID)" --secret "$(WIZ_CLIENT_SECRET)"

#     echo "Running scan"
#     sudo docker pull alpine:3.10
#     sudo docker run --security-opt apparmor:unconfined --cap-add SYS_ADMIN -v /var/lib/docker:/var/lib/docker -v /var/run/docker.sock:/var/run/docker.sock -v ~/.wiz:/cli wizcli:latest --no-style docker scan --image alpine:3.10 --policy 'thuan-test-wizcli-high' --driver mountWithLayers